---
type IconName = "arrow" | "arrow-long" | "calendar";
type IconDirection = "top" | "right" | "bottom" | "left";

type Props = {
  name: IconName;
  direction?: IconDirection;
  rotation?: IconDirection;
  class?: string;
  title?: string;
};

const { name, direction, rotation, class: className, title } = Astro.props;
const labelled = Boolean(title);
const iconDirection = rotation ?? direction;
const classes = ["icon", `icon--${name}`, name === "arrow-long" && "icon--long", iconDirection && `icon--${iconDirection}`, className];
---

{
  name === "arrow" ? (
    <svg
      class:list={classes}
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden={labelled ? undefined : "true"}
      role={labelled ? "img" : undefined}
    >
      {title ? <title>{title}</title> : null}
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M24 13.4864L2.822 13.486L12.4239 23.0775L11.0108 24.4887L0.409 13.9L0.407507 13.9013L-1 12.4956L-0.997999 12.494L-1 12.4932L0.413038 11.0819L0.415001 11.082L11.0108 0.5L12.4183 1.90571L2.822 11.49L24 11.4906V13.4864Z"
        fill="currentColor"
      />
    </svg>
  ) : name === "arrow-long" ? (
    <svg
      class:list={classes}
      viewBox="0 0 25 50"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden={labelled ? undefined : "true"}
      role={labelled ? "img" : undefined}
    >
      {title ? <title>{title}</title> : null}
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M11.5024 50.02L11.5028 3.82202L1.9113 13.4239L0.500055 12.0109L11.0888 1.40902L11.0875 1.40756L12.4932 5.34058e-05L12.4948 0.00201797L12.4956 5.34058e-05L13.9068 1.41309L13.9068 1.41502L24.4888 12.0108L23.0831 13.4183L13.4988 3.82202L13.4982 50.02H11.5024Z"
        fill="currentColor"
      />
    </svg>
  ) : (
    <svg
      class:list={classes}
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden={labelled ? undefined : "true"}
      role={labelled ? "img" : undefined}
    >
      {title ? <title>{title}</title> : null}
      <path
        d="M3.69995 25C3.01245 25 2.42391 24.7552 1.93433 24.2656C1.44474 23.776 1.19995 23.1875 1.19995 22.5V5C1.19995 4.3125 1.44474 3.72396 1.93433 3.23438C2.42391 2.74479 3.01245 2.5 3.69995 2.5H4.94995V0H7.44995V2.5H17.45V0H19.95V2.5H21.2C21.8875 2.5 22.476 2.74479 22.9656 3.23438C23.4552 3.72396 23.7 4.3125 23.7 5V22.5C23.7 23.1875 23.4552 23.776 22.9656 24.2656C22.476 24.7552 21.8875 25 21.2 25H3.69995ZM3.69995 22.5H21.2V10H3.69995V22.5ZM3.69995 7.5H21.2V5H3.69995V7.5ZM12.45 15C12.0958 15 11.7989 14.8802 11.5593 14.6406C11.3197 14.401 11.2 14.1042 11.2 13.75C11.2 13.3958 11.3197 13.099 11.5593 12.8594C11.7989 12.6198 12.0958 12.5 12.45 12.5C12.8041 12.5 13.101 12.6198 13.3406 12.8594C13.5802 13.099 13.7 13.3958 13.7 13.75C13.7 14.1042 13.5802 14.401 13.3406 14.6406C13.101 14.8802 12.8041 15 12.45 15ZM6.55933 14.6406C6.31974 14.401 6.19995 14.1042 6.19995 13.75C6.19995 13.3958 6.31974 13.099 6.55933 12.8594C6.79891 12.6198 7.09578 12.5 7.44995 12.5C7.80412 12.5 8.10099 12.6198 8.34058 12.8594C8.58016 13.099 8.69995 13.3958 8.69995 13.75C8.69995 14.1042 8.58016 14.401 8.34058 14.6406C8.10099 14.8802 7.80412 15 7.44995 15C7.09578 15 6.79891 14.8802 6.55933 14.6406ZM17.45 15C17.0958 15 16.7989 14.8802 16.5593 14.6406C16.3197 14.401 16.2 14.1042 16.2 13.75C16.2 13.3958 16.3197 13.099 16.5593 12.8594C16.7989 12.6198 17.0958 12.5 17.45 12.5C17.8041 12.5 18.101 12.6198 18.3406 12.8594C18.5802 13.099 18.7 13.3958 18.7 13.75C18.7 14.1042 18.5802 14.401 18.3406 14.6406C18.101 14.8802 17.8041 15 17.45 15ZM12.45 20C12.0958 20 11.7989 19.8802 11.5593 19.6406C11.3197 19.401 11.2 19.1042 11.2 18.75C11.2 18.3958 11.3197 18.099 11.5593 17.8594C11.7989 17.6198 12.0958 17.5 12.45 17.5C12.8041 17.5 13.101 17.6198 13.3406 17.8594C13.5802 18.099 13.7 18.3958 13.7 18.75C13.7 19.1042 13.5802 19.401 13.3406 19.6406C13.101 19.8802 12.8041 20 12.45 20ZM6.55933 19.6406C6.31974 19.401 6.19995 19.1042 6.19995 18.75C6.19995 18.3958 6.31974 18.099 6.55933 17.8594C6.79891 17.6198 7.09578 17.5 7.44995 17.5C7.80412 17.5 8.10099 17.6198 8.34058 17.8594C8.58016 18.099 8.69995 18.3958 8.69995 18.75C8.69995 19.1042 8.58016 19.401 8.34058 19.6406C8.10099 19.8802 7.80412 20 7.44995 20C7.09578 20 6.79891 19.8802 6.55933 19.6406ZM17.45 20C17.0958 20 16.7989 19.8802 16.5593 19.6406C16.3197 19.401 16.2 19.1042 16.2 18.75C16.2 18.3958 16.3197 18.099 16.5593 17.8594C16.7989 17.6198 17.0958 17.5 17.45 17.5C17.8041 17.5 18.101 17.6198 18.3406 17.8594C18.5802 18.099 18.7 18.3958 18.7 18.75C18.7 19.1042 18.5802 19.401 18.3406 19.6406C18.101 19.8802 17.8041 20 17.45 20Z"
        fill="currentColor"
      />
    </svg>
  )
}
